__pycache__

# Allow a side installation of ap_gen_tool
/ap_gen_tool
/ap_gen_tool.exe
/assets
/wads
/imgui.ini
/output

# Exclude random backup files and works-in-progress
*.bak
/backup
/wip

# Exclude games and data for games that are part of core
# (these are included in the ap_gen_tool repository)
/games/chex_quest.json
/games/doom.json
/games/doom2.json
/games/heretic.json
/data/chex.data.json
/data/doom.data.json
/data/doom2.data.json
/data/heretic.data.json

# Exclude copyrighted/commercial stuff no matter what.
DOOM.WAD
DOOM2.WAD
HERETIC.WAD
nerve.wad
